{% extends 'base.html.twig' %}

{% block title %}Wallets{% endblock %}

{% block body %}
    <div class="starter-template">
        {% if walletList is not empty %}
        <h1>Wallets</h1>
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Tag</th>
                    <th>Amount</th>
                    <th>Currency</th>
                    <th>Last movement at</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for wallet in walletList %}
                    {% if wallet.valueAmount.value|first == '-' %}
                        {% set valueClass = 'label-danger' %}
                    {% else %}
                        {% set valueClass = 'label-success' %}
                    {% endif %}

                    <tr>
                        <td>{{ wallet.id }}</td>
                        <td>{{ wallet.tag }}</td>
                        <td><span class="label {{ valueClass }}">{{ wallet.valueAmount.value|number_format(2, ',', ' ') }}</span></td>
                        <td>{{ wallet.currency }}</td>
                        <td>{{ wallet.dateLastFinancialMovement|date("jS F Y") }}</td>
                        <td>
                            <a class="btn btn-default" href="{{ path('movement_list', {'walletId':wallet.id}) }}" role="button">See more</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
        {% else %}
            <h1>No wallet found :-(</h1>
        {% endif %}
    </div>
{% endblock %}