{% extends 'base.html.twig' %}

{% block title %}Movement detail{% endblock %}

{% block body %}
    <div class="starter-template">
        {% if movement is not empty %}
        <h1>Movement #{{ movement.id }}</h1>
        <p><a class="btn btn-default" href="{{ path('movement_list', {'walletId':movement.walletId}) }}#movement-{{ movement.id }}">Back to movement list</a></p>

        <table class="table table-hover table-bordered">
            <tbody>
                <tr>
                    <td style="width: 20%;">Amount</td>
                    <td>{{ movement.orderingAmount.value|number_format(2, ',', ' ') ~ ' ' ~ movement.orderingAmount.currency }}</td>
                </tr>
                <tr>
                    <td>From account</td>
                    <td>{{ movement.orderingAccountNumber }}<br />{{ movement.beneficiaryInstitution }}</td>
                </tr>
                <tr>
                    <td>To beneficiary account</td>
                    <td>{{ movement.beneficiaryAccountNumber }}<br />{{ movement.orderingInstitution }}</td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td>{{ movement.description }}</td>
                </tr>
                <tr>
                    <td>Exchange rate</td>
                    <td>
                        {{ movement.exchangeRate }}
                        <br />
                        {% if movement.beneficiaryAmount.currency != movement.orderingAmount.currency %}
                        ({{ movement.orderingAmount.value|number_format(2, ',', ' ') ~ ' ' ~ movement.orderingAmount.currency}}
                         => 
                        {{ movement.beneficiaryAmount.value|number_format(2, ',', ' ') ~ ' ' ~ movement.beneficiaryAmount.currency }})
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Remittance Information</td>
                    <td>{{ movement.remittanceInformation }}</td>
                </tr>
                <tr>
                    <td>Internal reference</td>
                    <td>{{ movement.internalReference }}</td>
                </tr>
                <tr>
                    <td>Date</td>
                    <td>{{ movement.valueDate|date("jS F Y") }}</td>
                </tr>
            </tbody>
        </table>
        {% else %}
        <h1>Movement not found :-(</h1>
        {% endif %}
    </div>
{% endblock %}