{% extends 'base.html.twig' %}

{% block title %}Movements list{% endblock %}

{% block body %}
    <div class="starter-template">
        {% if movementList is not empty %}
        <h1>Financial movements for wallet #{{ walletId }}</h1>
        <p><a class="btn btn-default" href="{{ path('wallet_list') }}">Back to wallet list</a></p>

        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>Amount</th>
                    <th>ID</th>
                    <th>Description</th>
                    <th>Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for movement in movementList %}
                    {% if movement.amount.value|first == '-' %}
                        {% set rowClass = 'danger' %}
                    {% else %}
                        {% set rowClass = 'success' %}
                    {% endif %}

                    <tr id="movement-{{movement.id}}" class="{{ rowClass }}">
                        <td>{{ movement.amount.value|number_format(2, ',', ' ') }} {{ movement.amount.currency }}</td>
                        <td>{{ movement.id }}</td>
                        <td>{{ movement.description }}</td>
                        <td>{{ movement.valueDate|date("jS F Y") }}</td>
                        <td>
                            <a class="btn btn-default" href="{{ path('movement_view', {'movementId':movement.id}) }}" role="button">See details</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
        {% else %}
            <h1>No movement found on this wallet :-(</h1>
        {% endif %}
    </div>
{% endblock %}